.MuiPopover-paper {
    outline: 0;
    width: 100vw;
    position: absolute;
    max-width: 100%;
    min-width: 16px;
    max-height: calc(100% - 32px);
    min-height: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 768px){
    .MuiPopover-paper {
        width: 100vw;
        background-size:contain;
    }   
}