.txtGradient{
    background: #FBF272;
    background: -webkit-linear-gradient(to top, #FBF272 0%, #7FFAA4 100%);
    background: -moz-linear-gradient(to top, #FBF272 0%, #7FFAA4 100%);
    background: linear-gradient(to top, #FBF272 0%, #7FFAA4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:6rem;
    text-align: center;
    margin-top:2%
}
@media screen and (max-width: 768px){
    .txtGradient{
        font-size:3rem;
    }   
}