    .khvUfi{
        display: none;
    }
    .eRmJbc{
        display: none;
    }
    .buNJCv:disabled {
        cursor: not-allowed;
        display: none;
    }
    .buPiXl{
        display: none;
    }