html{
  scroll-behavior: smooth;
}
.App{
  margin: 0px;
  padding: 0px;
  z-index: 999999;
  box-sizing: border-box;
  background-color: black;
  background-image: url("https://uploads-ssl.webflow.com/60a10d10674abac215740e55/60abb323075ce1fe6134bf00_noise.png");
  background-position: fixed;
}

li{
  list-style: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 1px;
}


body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid black;
  border-radius: 20px;
}